*.php diff=php

/docs export-ignore
/tests export-ignore

/.editorconfig export-ignore
/firebase.json export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.opensource export-ignore
/codecov.yml export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
