*.php diff=php

/docs export-ignore
/tests export-ignore

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.opensource export-ignore
/codecov.yml export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/test_credentials.json.enc export-ignore
/test_devices.json.enc export-ignore
