*.php diff=php

/.opensource export-ignore
/docs export-ignore
/tests export-ignore

/.editorconfig export-ignore
/.git-blame-ignore-revs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/.readthedocs.yaml export-ignore
/codecov.yml export-ignore
/firebase.json export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
