parameters:
	level: 8
	paths:
		- src/
		- tests/
	ignoreErrors:
		-
			message: '#Parameter .+ expects .+, .+ given#'
			path: tests

	checkUninitializedProperties: true

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
