parameters:
	level: 8
	paths:
		- src/
		- tests/
	ignoreErrors:
		-
			message: '#Parameter .+ expects .+, .+ given#'
			path: tests
		-
			message: '#Access to an uninitialized property.+RequestWithSubRequests::\$wrappedRequest#'
			path: src/Firebase/Http/RequestWithSubRequests.php
		-
			message: '#Method.+jsonSerialize.+no value type specified in iterable type array.#'
			path: src
		-
			message: '#JWT::decode.+expects.+CachedKeySet given#'
			path: src/Firebase/AppCheck/AppCheckTokenVerifier.php
		-
			message: '#Call to method.+assertIsCallable.+will always evaluate to true#'
			path: tests

	checkUninitializedProperties: true
	reportUnmatchedIgnoredErrors: false

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
