<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="Firebase Test Suite">
            <directory>./tests/Firebase</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
