<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    bootstrap="tests/bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="Firebase Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <groups>
        <exclude>
            <group>Integration</group>
        </exclude>
    </groups>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Firebase</directory>
            <file>src/Firebase.php</file>
            <exclude>
                <file>src/Firebase/Http/Auth/UserAuth.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
