# The Firebase application host, e.g. https://xxx-xxx-1234.firebaseio.com
FIREBASE_HOST=

# The base location where the test data will be placed at
# Use 'travis' or something similar for your CI environment
FIREBASE_BASE_LOCATION=tests/local

# The firebase secret, which you can get at https://xxx-xxx-1234.firebaseio.com/?page=Admin
FIREBASE_SECRET=

# The Tape Recorder recording mode
# 1 = once      (Performs a real request and stores it to a fixture, unless the fixture already exists.)
# 2 = overwrite (Always performs a real request and overwrites the fixture.)
# 3 = never     (Always performs a real request and does not write a fixture.)
FIREBASE_TAPE_RECORDER_RECORDING_MODE=1

# Where the Tape Recorder Fixtures will be stored to (relative to the project test directory)
FIREBASE_TAPE_RECORDER_TAPES_DIR=fixtures/tapes